{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}To-do list{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {#    <link rel="stylesheet" href="{% static 'weather/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">#}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />#}
    {#    <script type="text/javascript" src="{% static 'weather/jquery/dist/jquery.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'weather/bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" type="text/css">
</head>
<body>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-7">
            <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                {% block content %}
                {% endblock content%}
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Copyright -->
<div class="text-center py-5">
    © {% now "Y"  %} Copyright:
    <a href="https://idrisbouzidi.fr">Idris BOUZIDI</a>
</div>
<!-- Copyright -->

</footer>

{% block script %}
{% endblock %}
</html>