{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
    <a href="{% url 'login' %}">Connexion</a>
{% endif %}
<h1>Ma liste de tâches  {{ color }}</h1>
<a href="{% url 'task_create' %}">Créer une tâche</a>

<form method="GET">
    <input type="text" name="search" value="{{ search_input }}">
    <input type="submit" value="Rechercher">
</form>
<table>
    <tr>
        <th>Item</th>
        <th>Action</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task_detail' task.id %}">Voir</a></td>
        <td><a href="{% url 'task_update' task.id %}">Editer</a></td>
        <td><a href="{% url 'task_delete' task.id %}" onclick="return confirm('Are you sure you want to delete?');">Supprimer</a></td>
    </tr>
    {% empty %}
        <h3>Aucune tâche dans la liste</h3>
    {% endfor %}
</table>